# Step 1: Install the conflicting empty package
ffmpeg

# Step 2: Install the correct package to overwrite it
ffmpeg-python==0.2.0

# Other dependencies
streamlit==1.33.0
Pillow==10.3.0
arabic_reshaper==3.0.0
python-bidi==0.4.2
python-telegram-bot==21.0.1
opencv-python-headless==4.9.0.80
requests==2.31.0
beautifulsoup4==4.12.3
gTTS==2.5.1
numpy==1.26.4
