streamlit==1.32.2
streamlit-arabic-support-wrapper==1.1
Pillow==10.2.0
arabic_reshaper==3.0.0
python-bidi==0.4.2
python-telegram-bot==20.8
opencv-python-headless==4.9.0.80
numpy==1.26.4
requests==2.31.0
beautifulsoup4==4.12.3
gTTS==2.5.1
ffmpeg-python==0.2.0